on:
  push:
    branches:
      - master
name: Deploy website
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v3

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Build the web project
        run: |
          npm install
          npm run build

      - name: Sync web project files
        uses: SamKirkland/web-deploy@v1
        with:
          target-server: ${{ secrets.SERVER_IP }}
          remote-user: deployment
          private-ssh-key: ${{ secrets.SSH_KEY }}
          ssh-port: 22
          source-path: ./dist/
          destination-path: /var/www/vhosts/pca.svetikas.lt/public/

      - name: Build the docs
        run: |
          pip install poetry
        working-directory: ./docs
